*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* display: inline-block; */
}

.clear {
    clear: both;
}

.header {
    background-color: #ccc;
    padding:10px 2% 30px 2%;
}

.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('../imagens/logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: purple;*/
}

.logo-2{
	float: right;
	width: 160px;
	height: 60px;
	background-image: url('../imagens/logo2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: green;*/
}

section.cover-form {
    width: 100%;
    padding: 0 2%;
}

.bg {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(/imagens/bg-form.jpg);
}

.form-container {
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 110%;
    position: relative;
    top: -5%;
    background-color: rgb(255, 255, 255);
}
.form-container h2 {
    font-weight: normal;
    padding: 20px 15px;
    color: black;
    font-size: 18px;
    background-color: rgb(234, 236, 239);
}


@media screen and (max-width: 515px) {
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-1, .logo-2 {
        float: none;
        margin-top: 5px;
    }
}